.tab-content {
  display: flex;            
  width: 100%;
  align-items: flex-start;    
  gap: 20px;          
  height: 100%;      
  margin: 4rem 1rem;
}

.account-content {
  flex: 1;         
  border-radius: 10px;    
  height: fit-content;
  padding: 20px;          
  margin-right: 2rem;  
  border: 1px solid black;
}
