.nav-item-costume :hover{
    color: black;
    font-weight: bold;
}

.nav-item-costume {
    color: inherit; /* Inherits color from parent */
    text-decoration: none; /* Optional: Removes underline */
    color: rgb(74, 74, 74);
    font-size: 18px;
}

.nav-item-costume a:active,
.nav-item-costume a:visited {
    color: inherit;
}

.split-container {
    display: flex;
    height: 100vh; /* Full viewport height */
}

.left, .right {
    flex: 1; /* Each takes 50% of the screen */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}