
.divider{
    width: 1px;
    background-color: rgb(156, 156, 156);
    height: 55rem;
}
.c-Logincontainer{
    border: 3px solid grey;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgb(0, 0 , 0.2);
}
@media (max-width: 1200px) {
    .divider{
        display: none;
    }
}

@media (max-width: 576px) {
    .c-Logincontainer{
        padding: 0px;
    }
}