.login-section, .register-section {
    padding: 20px;
}
.register-section{
    margin-left: 3rem;
}
.login-section{
    margin-left: 1.5rem;
}
.divider{
    margin-left: 2rem;
    width: 1px;
    background-color: rgb(156, 156, 156);
    height: 55rem;
}
.c-Logincontainer{
    border: 1px solid grey;
    padding: 5px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgb(0, 0 , 0.2);
}