.reset-password-container {
    height: 70vh;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reset-password-container h2 {
    position: relative;
    bottom: 30px;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid #5f0202;
    margin: 0 1rem;
    color: #5f0202;
}

.reset-password-form {
    border: 1px solid #5f0202;
    padding: 1rem 2rem;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    height: 250px;
}

.btn-reset-pass {
    margin-top: auto;
    bottom: 0;
    position: sticky;
    border-radius: 8px;
    padding: 8px 10px;
    border: none;
    background-color: #5f0202;
    color: white;
    width: 330px;
}

.btn-reset-pass:hover {
    background-color: #5f0202d8;
}

.reset-groups {
    display: flex;
    align-items: center;
    margin: 0.5rem auto;
    flex-direction: column;
    gap: 1rem;
}

.reset-group {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    justify-content: space-between !important;
}

.reset-confirm,
.reset-password {
    border: 1px solid #5f0202 !important;
    border-radius: 4px;
}
.reset-btn-container{
    margin: auto
}
@media(max-width: 768px) {
    .reset-password-container {
        padding: 0 1rem;
    }
    .reset-password-container h2 {
        font-size: 18px !important;
    }
    .reset-password-container p {
        font-size: 14px !important;
    }
    .reset-password-form {
        padding: 1rem 1.5rem;
        width: fit-content;
    }
    .reset-group label{
        font-size: 12px !important;
    }
}
@media(max-width: 400px) {
    .btn-reset-pass {
        font-size: 14px;
        width: 280px;
    }
}