.myaccount-title {
    color: #5f0202;
    border-bottom: 2px solid #5f0202;
    padding-bottom: 15px;
    margin-bottom: 30px;
    font-size: 2rem;
    display: inline-block;
}

.myaccount-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 35px;
    width: fit-content;
    padding-bottom: 15px;
    bottom: 40px;
}

.input-dad {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cu-input {
    width: 17rem;
    border-color: black;
}

.btn-save-change {
    background-color: #5f0202d8;
    border: none;
}

.btn-save-change:hover,
.btn-save-change:active,
.btn-save-change:focus {
    background-color: #5f0202 !important;
}

@media (max-width: 576px) {
    .my-acc {
        position: relative;
        left: 10%;
    }

    .myaccount-title {
        font-size: 1.5rem;
    }

    .cu-input {
        width: 14rem;
        padding: 0;
    }

    .btn-save-change {
        font-size: 0.9rem;
        width: 12rem;
    }
}

@media (max-width: 400px) {
    .myaccount-title {
        font-size: 1.3rem;
    }

    .cu-input {
        width: 12rem;
    }

    .btn-save-change {
        font-size: 0.8rem;
        width: 10rem;
    }
}