.navbar {
    background-color: #5f0202d8;
    padding: 10px 20px;
}

.navbar a {
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: color 0.3s ease, transform 0.3s ease-in-out;
}


.navbar a:hover,
.navbar a:active {
    color: white !important;
    transform: scale(1.05); 
    transition: color 0.3s ease, transform 0.3s ease;
}
.navbar-nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    color: white !important;
    bottom: -6px;
    background: #ffffff; /* Γραμμή στο hover και active */
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform ease-in-out 0.5s;
}

.navbar-nav a:hover::after,
.navbar-nav a.active::after {
    transform-origin: left;
    color: white !important;
    transform: scaleX(1); /* Εμφάνιση της γραμμής */
}

.navbar-collapse {
    text-align: center;
    margin-right: 0;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.navbar-nav .nav-item {
    padding: 0 10px;
}

/* Dropdown menu */
.nav-item.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 0.56rem;
    left: 50%;
    transform: translateX(-50%); /* Κεντράρει το dropdown */
    background-color: rgba(95, 2, 2, 1);    
    padding: 1rem;
    z-index: 20000;
    min-width: 600px; /* Αρκετό πλάτος για τις στήλες */
}

.nav-item.dropdown:hover .dropdown-menu,
.nav-item.dropdown:focus-within .dropdown-menu {
    display: block;
}

/* Βελτιωμένη στοίχιση στηλών */
.dropdown-columns {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 3 στήλες */
    gap: 1rem;
    padding: 1rem;
    max-width: 100%;
}

.dropdown-column {
    display: flex;
    flex-direction: column;
}

/* Προσαρμογή link μέσα στο dropdown */
.dropdown-menu .nav-link {
    color: white;
    border-radius: 6px;
    padding: 8px 8px;
    display: block;
    text-align: center; /*SOS GIATI STO HOVER OTAN EINAI MIKRI I LEKSI FAINETAI APO DEKSIA SAN EXTRA PADDING ENW DEN YPARXEI */ 
    white-space: nowrap;
    transition: background 0.3s ease;
}

.dropdown-menu .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
