/* Info Section */
.info-section {
    background-color: #ffffff;
    padding: 20px 0 0;
}
.info-section .details span {
    font-size: 0.8em;
    font-family:sans-serif;
    color: black;
    font-weight: 500;
    margin-right: 5%;
}
.logo {
    color: #5f0202d8 ;
}
.navbar-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}
.icons {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end; 
}

.Icons {
    margin-left: 1rem; 
    color: rgb(157, 157, 157);
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.5s, color 0.3s, fill 0.3s;
}

.Icons:hover,.active-icon {
    transform: scale(1.5); 
    color: #5f0202d8; 
    fill: #5f0202d8; 
    transition: color 0.5s ease, transform 0.5s ease-in-out, fill 0.5s ease;
}

.btn-search {
    background-color: rgb(157, 157, 157); /* Αρχικό γκρι χρώμα */
    color: white; /* Λευκό κείμενο */
    border: none; /* Χωρίς περίγραμμα */
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  
  .btn-search:hover {
    background-color: rgb(130, 130, 130); /* Πιο σκούρο γκρι στο hover */
  }
  

/* Responsive Design */
@media (max-width: 768px) {
    .info-section .details p {
        font-size: 0.8em;
    }

    .searchbar-container {
        flex-direction: column;
        gap: 5px;
    }
}
