.favourite-icon {
    position: absolute;
    top: 10px;
    right: 6px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 3px;
    z-index: 2;
}

.favourite-icon .outline-icon,
.favourite-icon .filled-icon {
    color: #5f0202d8;
}

.favourite-icon:hover .outline-icon {
    transform: scale(1.1);
}

.favourite-icon:active {
    transform: scale(0.95);
}

.link-card {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.c-card {
    position: relative;
    cursor: default;
}

.c-btn {
    width: 100%;
    padding: 0.4rem 0.5rem;
    font-size: 0.9rem;
    background-color: #5f0202;
    color: white;
    border: none;
    margin-top: auto;
    cursor: pointer;
}

.c-btn:hover {
    background-color: #7a0303;
    color: white;
}

.c-img {
    max-height: 200px;
    object-fit: contain;
    padding: 0.5rem;
}

.card-body {
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
}


.card-title {
    font-size: 1rem;
    min-height: 2.5rem;
    padding-top: 10px;
    line-height: 1.2;
    color: #5f0202;
}
.c-btn-container{
    padding: 0;
}
.card-title:hover {
    text-decoration: underline;
}

.card-price {
    font-size: 0.95rem;
    font-weight: bold;
    padding-top: 10px;
    color: #5f0202;
    margin-bottom: 0.2rem;
}

@media (max-width: 768px) {
    .c-btn {
        width: 100%;
        font-weight: 400;
        padding: 0.4rem 0.5rem;
        border: none;
        font-size: 0.8rem;
    }
    .card-container{
        max-width: 180px;
    }
    .c-btn-container{
        background-color: red;
    }
    .card-title {
        font-size: 0.8rem;
        min-height: 2rem;
        font-weight: 600;
        line-height: 1;
        margin: 0;
    }
    .card-price {
        font-size: 0.8rem;
    }
    .c-card {
        height: 280px;
    }
    .c-img {
        max-height: 160px;
        padding: 0.9rem;
    }
}
@media (max-width: 576px) {
    .c-btn {
        font-size: 0.7rem;
    }
    .card-title {
        font-size: 0.8rem;
        min-height: 2rem;
        line-height: 1.6;
        margin: 0;
    }
    .card-price {
        font-size: 0.7rem;
    }
    .c-card {
        height: 270px;
    }
    .card-container{
        max-width: 140px;
    }
    .c-img {
        max-height: 140px;
        padding: 0.8rem;
    }
}

@media (max-width: 400px) {
    .c-btn {
        padding: 0.5rem 0.3rem;
        font-size: 0.6rem;
    }
    .card-title {
        font-size: 0.7rem;
        min-height: 2rem;
        line-height: 1.5;
        margin: 0;
    }
    .card-price {
        font-size: 0.6rem;
        padding-top: 10px;
    }
    .c-card {
        height: 260px;
    }
    .c-img {
        max-height: 120px;
        padding: 0.5rem;
    }
    .favourite-icon .outline-icon{
        font-size: 1.2rem;
    }
}