.c-card{
    width: 18rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: default;
}.c-img{
    height: 15rem;
    width: 10rem;
    cursor: pointer;
}
.c-card:hover{
    cursor: pointer;
    box-shadow: 5px black;
}
.c-btn{
    background-color:#5f0202d8;
    color: white;
    transition: transform .3s ease-in-out;
}
.c-btn:hover{
    background-color: #5f0202c0;
    color: white;
}