.cart-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  .cart-container {
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
  }
}
@media (min-width: 1500px) {
  .cart-container {
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    gap: 50px;
  }
}
@media (min-width: 1800px) {
  .cart-container {
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
  }
}
@media (min-width: 2000px) {
  .cart-container {
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    gap: 50px;
  }
}

@media (max-width: 1200px) {
  .cart-container {
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .cart-container {
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .cart-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

.card,
.cart-item {
  width: 250px;
}