.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.errors {
  text-align: left;
  color: rgb(227, 36, 36);
  font-size: 14px;
  font-weight: 400;
}

.Terms-Cond {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
  padding: 10px;
  border-radius: 5px;
}

.Terms-Cond input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #5f0202c0;
  cursor: pointer;
}

.Terms-Cond label {
  font-size: 0.95rem;
  font-weight: 500;
  color: #333;
  cursor: pointer;
}