.search-wrapper {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 5px;
    width: 500px;
    height: 40px; 
    transition: box-shadow 0.3s ease;
}

.search-wrapper:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-icon {
    color: #007bff;
    font-size: 16px;
    margin-right: 8px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: #333;
}

.search-input::placeholder {
    color: #888;
}
@media (max-width: 768px) {
    .search-wrapper {
        width: 250px;
        height: 35px; 
    }
}
@media (max-width: 915px) {
    .search-wrapper {
        width: 30   0px;
        height: 35px; 
    }
}

@media (max-width: 664px) {
    .search-wrapper {
        width: 150px;
        height: 35px; 
    }
    .search-input {
        flex: 1;
        font-size: 9.5px;
    }
}